
.prin{
    display: flex;
    justify-content: center;
    margin: 0 auto;
	min-width: 768px;
	max-width: 1024px;
    
    p{
       
        color:black; 
        
    }
   
}



.column{
    font-family: Tahoma, Verdana, sans-serif;
	color: #333;
    padding: 10px;
    width: 850px;
    height: 700px;
	
}


